# ignore artifactory log files
/artifactory/var/log
/artifactory/**/*.log
/artifactory/**/*.log.gz

.idea/
lib/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
